body {
  background-color: rgb(34, 32, 36);
  color: #b7b7b7;
  font-family: monospace;
}

main {
  display: flex;
  flex-direction: row;
}

img {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
}

h1{
  font-size: 2rem;
  font-family: monospace;
}

.content {
  width: 65%;
  padding-left: 30px;
  padding-right: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  border-left: solid #bfa38a;
  height: 100vh;
}

button{
  color: #b7b7b7;
  font-size: large;
  font-weight: 700;
  font-family: monospace;
  background-color: transparent;
  margin: 10px;
  width: 250px;
  height: 55px;
  border-radius: 8px;
}

button:hover{
  background-color: rgba(106, 104, 104, 0.467);
}